demo/deployment
demo/.classpath
demo/.project

test/javasource/
test/deployment/
test/.classpath
test/.mendix-cache/
test/.settings/
test/.project
test/theme/
test/.svn/
test/userlib/
test_org/

*.launch
*.tmp
*.lock
.idea/
.gradle
build/

dist/

node_modules/
.editorconfig
*DS_Store*
.vscode/
*.bak
