module/javasource/administration/proxies/
module/javasource/communitycommons/proxies/
module/javasource/pushnotifications/proxies/
module/javasource/system/proxies/
module/javasource/myfirstmodule/proxies/
module/javasource/encryption/proxies/
module/deployment/
module/theme-cache/
module/.classpath
module/.mendix-cache/
module/.project
module/.svn/
module/resources/Firestore/

*.launch
*.tmp
*.lock
.idea/
.gradle
build/

dist/

widget/node_modules/
.editorconfig
*DS_Store*
.vscode/
*.bak

module/userlib/*.jar
module/userlib/*.RequiredLib
module/widgets/MxPushNotifications.mpk
